/* Ensure the body and html take up the full width and height */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #EAE4D8;
    color: #030303;
}

header {
    background-image: url('./media/profile/header-bg.jpg'); /* Background image */
    background-size: cover;
    background-position: center top;
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EAE4D8;
    text-align: left;
    overflow: hidden;
}
/* Gray overlay layer */
header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 80vh;
    width: 100vw;
    background-color: #03030380; /* 30% opacity gray overlay */
    z-index: 1; /* Under the content, above the background */
}

.header-content {
    position: relative;
    z-index: 2; /* Ensures content is above the overlay */
    display: flex;
    align-items: center;
}

.avatar {
    background-image: url('./media/profile/avatar.jpg');
    background-size: cover;
    background-position: center;
    width: 150px; /* Adjust the size as needed */
    height: 150px;
    border-radius: 50%; /* Make it circular */
    margin-right: 20px;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.buttons {
    display: flex;
    gap: 15px;
}

.buttons a.button {
    background-color: transparent;
    border-width: 5px;
    border-radius: 5px;
    border: 2px solid #EAE4D8;
    color: #EAE4D8;
    padding: 10px 20px;
    text-decoration: none;

    font-size: 1.2rem;
}

.buttons a.button:hover {
    background-color: #EAE4D880;
    border-color: #EAE4D8;
}

main {
    margin-top: 50px;
}

/* About Me and Contact Section */
#about-me{
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Ensure text is centered */
    flex-direction: column;
    height: 30vh; /* Adjust this based on how much space you want */
    margin-bottom: 50px;
}

#about-me p, #contact p {
    max-width: 800px; /* Limit the width of the text */
    margin: 0 auto; /* Center the content */
    font-size: 1.2rem;
}

iframe {
    margin-top: 20px;
}

/* Projects Section - Alternating Text and Image */
#projects .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#projects .column-left,
#projects .column-right {
    width: 48%;
}

#projects .column-left img,
#projects .column-right img {
    width: 100%;
    height: auto;
}

/* Skills and Experience Section */
#skills-experience .row {
    display: flex;
    justify-content: space-between;
}

#skills-experience .column-left,
#skills-experience .column-right {
    width: 48%;
}


#contact {
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Ensure text is centered */
    flex-direction: column;
    height: 100vh; /* Adjust this based on how much space you want */
    margin-top: 10px;
}
footer {
    text-align: center;
    font-size: 0.9rem;
}

.google-form-container {
    position: relative;
    width: 100%;
    overflow: hidden; /* Ensure no overflow is visible */
}

#google-form {
    width: 100%;
    border: none; /* Remove border around the iframe */
    height: 700px; /* Adjust this height as needed */
}
